body, html {
    height: 100%;
    }
    * {
    box-sizing: border-box;
    }
    
.img{
    background-image: url(bgm2.jpg);
    /* Control the height of the image */
    min-height: 900px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

  .btn2{
    background-color:black ;
    color: white;
    position:absolute;
    padding: 35px  ;
    border-radius: 10 px;
    font-size: 30px;
    cursor: pointer;
    bottom: 70%;
    text-align: center;
    text-decoration: ivory;
    left: 600px;
    width: 20%;
    opacity: 0.9;
  }
  .head1{
    color:white; 
    position: absolute;
    background-color: black;
    top:0%;
    left:0% ;
    width: 100% ;
    text-align:center;
    font-size: 3rem;
    text-shadow:  5px;
  }
  .or2{
    color: black; 
    position: absolute;
    bottom:55%;
    left: 690px;
    width: 100% ;
    font-size: 3rem;
    text-shadow:  5px;
  }
  .btn1{
    background-color:black;
    color: white;
    position:absolute;
    padding: 35px ;
    border:mediumslateblue;
    cursor: pointer;
    text-align: center;
    bottom: 30%;
    font-size: 30px;
    left: 600px;
    width: 20%;
    opacity: 0.9;
  }
  
  .button-container a{
      position: absolute;
      bottom: 50%;
      left: 600px;
      background-color: turquoise;
      border-radius: 1.5em;
      color: white;
      text-transform: uppercase;
      padding: 1em 1.5em;
  }
  .button-contain a{
      position: absolute;
      top: 68%;
      left: 60%;
      background-color: turquoise;
      border-radius: 1.5em;
      color: white;
      text-transform: uppercase;
      padding: 1em 1.5em;
  
  }